@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #593257;
    margin-bottom: 20px;
    font-size: 25px;
}
hr{
    border: 2px solid #593257;
    width: 50%;
}
.review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    box-shadow: 6px 6px 26px -2px rgba(0,0,0,0.33);
    padding: 30px;
    border-radius: 30px;
}
.foto{
    height: 150px;
}
img{
    height: 100%;
    clip-path: circle(75px at 50% 50%);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.info h1{
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 900;
    color: #593257;
}
h3{
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 500;
    color: #D8A0D9;
    
}
p{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}
.arrow{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    color: #D8A0D9;
    font-size: 40px;
    margin: 10px 20px;


}
button{
    border: none;
    background: none;
}
.btn{ 
    padding: 5px;
    border: none;
    background-color: #D8A0D9;
    border-radius: 5px;
    font-style:normal;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 450;
    color: #593257;
    margin-top: 10px;
 }