@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(244, 251, 255);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.mensaje{
width: 90%;
margin-bottom: 30px;
color: green;
background-color: rgb(189, 238, 189);
height: 22px;
p{
  font-size: 15px;
}
}
.mensaje-error{
  width: 90%;
  margin-bottom: 30px;
  color: red;
  background-color: rgb(238, 214, 214);
  height: 22px;
  p{
    font-size: 15px;
  }
  }

.info {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 280px;
  padding: 20px 0;
  height: auto;
  background-color: #fff;
  box-shadow: 6px 6px 26px -2px rgba(0, 0, 0, 0.33);

  h1 {
    font-size: 20px;
    color: #122455;
    letter-spacing: 2px;
    word-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
  }
  label {
    width: 100%;
  }
  input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: start;
    padding-left: 10px;
    font-size: 15px;
    letter-spacing: 3px;
    width: 50%;
    height: 30px;
    border: none;
    color: #29627c;
    background-color: rgb(221, 235, 243);
  }
}
.guardar {
  font-size: 15px;
  color: #122455;
  background-color: #64bae2;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  &:hover {
    color: rgb(0, 174, 255);
    background-color: rgb(140, 238, 241);
    transition: all 0.5s ease-in-out;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 50%;
  height: 25px;
  margin-top: 20px;
  background-color: rgb(231, 231, 231);
  border-radius: 100px;

  p {
    padding-left: 10px;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #29627c;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .fa-square-check{
    color: rgb(53, 122, 201);
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    &:hover {
      transform: scale(1.5);
      transition: transform 0.5s ease-in-out;
    }
  }
  .fa-pen-to-square {
    color: rgb(53, 201, 53);
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    &:hover {
      transform: scale(1.5);
      transition: transform 0.5s ease-in-out;
    }
  }
  .fa-trash-can {
    color: red;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    &:hover {
      transform: scale(1.5);
      transition: transform 0.5s ease-in-out;
    }
  }
}
.clean{
  .btn-clean{
    background: none;
    border: none;
    color: red;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
      transform: scale(1.5);
      transition: transform 0.5s ease-in-out;
    }
  }
}

@media screen and (max-width: 850px) {
  .info {
    width: 80%;
  }
}
@media screen and (max-width: 421px) {
  .info {
    width: 90%;
  }
}

/* Botón Back */

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
  color: #593257;
  border-radius: 5px;
  font-size: 21px;
}
.btn-back a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.btn-back i {
  padding: 0;
  margin: 0;
}
